.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(4, 1fr);
    gap: 5px;

    text-align: center;
    color: white;
    font-size: 2em;
}

.caixa1{
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    
    background-color: red;
    border-radius: 20px;
}

.caixa2{
    grid-row: 2 / -1;
    grid-column: 1 / 3;

    background-color: green;
    border-radius: 20px;
}

.caixa3{
    grid-row: 2 / 4;
    grid-column: 3 / -1;

    background-color: blue;
    border-radius: 20px;
}