@charset "UTF-8";

/*Estilos para tela*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightgray;
}
header > h1{
    text-align: center;
}
menu li{
    background-color: rgb(45, 45, 45);
    color: white;
    display: inline-block;
    padding: 10px;
}
menu ul {
    background-color: rgb(45, 45, 45);
    list-style: none;
    background-color: gray;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}