@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');


:root{
    --color01: white;
    --color02: black;

    --font-face: "Passion One", sans-serif;
    --font-padrao01: "Poppins", sans-serif;
    --font-padrao02: "Sriracha", cursive;
    --font-padrao03: verdana;
}
*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body{
    min-height: 100vh;
    display: block;

}
header{
    min-height: 100px;
    max-height: 300px;
    background-color: var(--color02);
    color: white;
    padding: 10px;
    text-align: center;
}
header > h1{
    font-family: var(--font-face);
    font-weight: bold;
    font-size: 10vw;
}
header > h1 > span{
    font-size: 11vw;
}
header > p{
    font-family: var(--font-padrao03);
    font-weight: lighter;
    font-size: 1.2vw;
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.content-1{
    min-height: 200px ;
    padding: 10px;
    text-align: justify;
}
.content-1 > p{
    font-family: var(--font-padrao02);
    font-weight: normal;
    font-size: 3.5vw;
}
.content-2{
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding: 10px;
    background-image: url("../imagens/background001.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}
.content-2 > p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.308);
    width: 40vw;
    font-family: var(--font-padrao02);
    font-size: 3.5vw;
}
.content-3{
    background-color: var(--color01);
    padding: 10px;
}
.content-3 > p{
    font-family: var(--font-padrao02);
    font-size: 3.5vw;
    padding-top: 20px ;
}
.content-4{
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding: 10px;
    background-image: url("../imagens/background002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content-4 > p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.308);
    width: 40vw;
    font-family: var(--font-padrao02);
    font-size: 3.5vw;
}
.content-5{
    min-height: 200px ;
    padding: 10px;
    text-align: justify;
}
.content-5 > p {
    font-family: var(--font-padrao02);
    font-weight: normal;
    font-size: 3.5vw;
}
footer{
    background-color: var(--color02);
    color: var(--color01);
    padding: 10px;
    text-align: center;
    font-family: var(--font-padrao03);
}
footer > p{
    font-size: 1vw;
    font-weight: lighter;
}
footer > p > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color01);

}