@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

main{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template: 60px 40px 2fr 70px / 1fr 2fr 1fr;
}

header{
    grid-area: 1 / 1 / 2 / -1;
    
    text-align: center;
    background-color: rgba(128, 128, 128, 0.300);
}

menu{
    grid-area: 2 / 1 / 3 / -1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    text-align: center;
    background-color: rgba(128, 128, 128, 0.400);
}

menu > a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
}

section.principal{
    grid-area: 3 / 1 / 4 / -2;

    background-color: aliceblue;
}

.item-div{

    width: 800px;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto auto auto;
}

section.segundario{
    grid-area: 3 / -2 / 4 / -1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}

.item-anuncio{
    width: 300px;
    height: 500px;
    text-align: center;
    background-color: gray;
}

footer{
    grid-area: 4 / 1 / 5 / -1;

    background-color: gray;
}


