.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(4, 1fr);
    gap: 5px;

    text-align: center;
    color: white;
    font-size: 2em;
}

.caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: -1;
    
    background-color: red;
}

.caixa2{
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start:1;
    grid-column-end: 3;  
    background-color: green;
}

.caixa3{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:3;
    grid-column-end: -1;
    background-color: blue;
}