@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=WindSong:wght@400;500&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{

    --font-face:"Ballet", cursive;
    --font-padrao:"Zalando Sans", sans-serif;
    --font-h1:"WindSong", cursive;

    --color01:#F21905;
    --color02:#BF1506;
    --color03:#8C1308;
    --color04:#59110B;
    --color05:#0D0B0B;
    --color06: #fff;

}
*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body{

    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 100px;
    background-color: black;
    text-align: center;
    padding: 10px;
}
header > h1{
    position: relative;
    top: 5px;
    font-family: var(--font-face);
    font-weight: 500;
    font-size: 60px;
    text-decoration:  1px underline;
    color: white;
    text-shadow: 4px 3px 10px rgba(255, 255, 255, 0.164);
}
header > h1 > span{
    font-weight: 500;
}
nav{
    background-color: black;
    height: 80px;
    text-align: center;
}
nav > a {
    position: relative;
    top: 20px;
    text-shadow: 4px 3px 10px rgba(255, 255, 255, 0.164);
    padding: 0px 10px 0px 10px;
    color:white;
    font-weight: 500;
    font-family: var(--font-padrao);
    text-decoration: none;
}
main{
    margin: auto;
    max-width: 1000px;
}
section.banner{
    height: 200px;
    background-image: url("../imagens/header-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 27px 12px inset #0000006b;
}
main > section.tag-vinhos{
    position: relative;
    top: 20px;
    left: 20px;
    border-left: 4px solid var(--color02);
}
section.tag-vinhos > h1{
    padding-left: 2px;
    color: black;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    font-weight: bold;
}
section.tag-vinhos > p{
    padding-left: 2px;
    color: gray;
    font-family: var(--font-padrao);
    font-weight: lighter;
    font-size: 1em;
}
main > section.produtos > article.produto-1{
    margin: auto;
    height: 600px;
    padding-top: 20px;
}
article.produto-1 > h1{
    color: black;
    text-align: center;
    font-family: var(--font-h1);
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 10px;
}
article.produto-1 > p {
    margin: auto;
    text-align: justify;
    color: gray;
    font-family: var(--font-padrao);
    font-weight: 300;
    width: 300px;
    border-bottom: 1px dashed var(--color02);
} 
article.produto-1 > aside{
    margin: auto;
    height: 400px;
    width: 300px;
    background-image: url("../imagens/vinho-tinto-reserva.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2px;
}
main > section.produtos > article.produto-2{
    margin: auto;
    height: 600px;
}
article.produto-2 > aside{
    margin: auto;
    height: 400px;
    width: 300px;
    background-image: url("../imagens/vinho-branco-seco.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
article.produto-2 > h1{
    color: black;
    text-align: center;
    font-family: var(--font-h1);
    font-size: 35px;
    font-weight: lighter;
    padding-bottom: 10px;
}
article.produto-2 > p {
    margin: auto;
    color: gray;
    font-family: var(--font-padrao);
    font-weight: 300;
    width: 300px;
    border-bottom: 1px dashed var(--color02);
}
main > section.produtos > article.produto-3{
    height: 600px;
    margin: auto;
}
article.produto-3 > h1{
    color: black;
    font-family: var(--font-h1);
    text-align: center;
    font-size: 35px;
    font-weight: 300;

}
article.produto-3 > p{
    margin: auto;
    color: gray;
    text-align: justify;
    font-family: var(--font-padrao);
    font-weight: 300;
    width: 300px;
    border-bottom: 1px dashed var(--color02);
}
article.produto-3 > aside{
    margin: auto;
    height: 400px;
    width: 300px;
    background-image: url("../imagens/vinho-rose.jpg");
    background-position: center center;
    background-size: cover;
}
section.harmo{
    position: relative;
    left: 20px;
    height: 500px;
}
section.harmo > div.title{
    border-left: 4px solid var(--color02);
}
section.harmo > div.title > h1{
    color: black;
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 2px;
}
section.harmo > div.title > p{
    color: gray;
    font-family: var(--font-padrao);
    font-size: 15px;
    padding-left: 2px;
}
section.harmo > article{
    display: flex;
    gap: 30px;
}
section.harmo > article > aside{
    margin-top: 20px;
}
.img-1{
    height: 200px;
    width: 200px;
    background-image: url("../imagens/massa.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.img-1 > h1{
    color: white;
    font-family: var(--font-h1);
    font-weight: lighter;
    font-size: 2.5em;
    padding-left: 5px;
}
.img-2{
    height: 200px;
    width: 200px;
    background-image: url("../imagens/queijo.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.img-2 > h1{
    color: white;
    font-family: var(--font-h1);
    font-weight: lighter;
    font-size: 2.5em;
    padding-left: 5px;
}
footer{
    padding-top:20px ;
    text-align: center;
    height: 100px;
    background-color: var(--color04);
}
footer > p{
    color: white;
    font-family: var(--font-padrao);
}



