@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("../imagens/fundo-madeira.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    display: block;
    unicode-bidi: isolate;
}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:527px;
    width: 311px;
}
#redes-sociais{
    display: block;
    padding: 10px;
    text-align: right;
}
#redes-sociais > a{
    display: block;
    
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
img{
    height: 45px;
    border-radius: 100%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.596);
    box-sizing: border-box;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#redes-sociais > a > img:hover{
    border: 1px solid white;
}
iframe{
    border-radius: px;
    position: relative;
    top: 67px;
    left: 18px;
    height: 399px;
    width: 226px;
    overflow-y: hidden;
    overflow-x: hidden;
}