@charset "UTF-8";

/*typical device breakpoints
----------------------------
pequenas telas: até 600px
celular: de 600px até 768px
tablet: 768 até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/

@media print  {

    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    } /*desnecessário*/
    main{
        border: 1px solid black;
    }
    main h1{
        color: black;
        text-shadow: none;
    }
    main::after{
        content: "Essa impressão foi feita atraves do site www.taltal.com";
        text-decoration: overline;
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#desktop{display: none;}
    img#print{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*TABLET*/
    body{
        background-image:  url(../imagens/back-tablet.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: block;}
    img#desktop{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
}    
@media  screen and (min-width: 992px) and (max-width: 1200px) {/*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#desktop{display: block;}
    img#print{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 1200px) {/*GRANDEAS TELAS*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#desktop{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
}